<div class="container">
    <h1 class="text-center">Search Results</h1>
    <p class="text-center">
      <a href="/">Home</a>
    </p>

    <div class="well">
      <h2><%= results.strDrink %></h2>    
    </div>
