<div class="container">
    <h1 class="text-center">My Favorites</h1>
    <p class="text-center">
      <a href="/">Home</a>
    </p>
  
    <% favDrinks.forEach(function(drink) { %>
      <div class="well">
        <h2><%= drink.name %></h2>
        <p><%= drink.glassType %></p>

        <form method="DELETE" action="/users/favorites/<%= drink.id %>/?_method=DELETE">
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>

      </div>
    <% }); %>
  </div>