<%- include('../partials/header.ejs', { user }) %>

<h3 class="text-center bg-dark text-light p-3">Login to your account</h3>

<% if (message) { %>
    <p class="text-center"><%= message %></p>
<% } %>

<form class="text-center mt-4" action="/users/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required/>

    <button class="btn btn-warning" type="submit">Login</button>
</form>

<%- include('../partials/footer.ejs') %>