<%- include('../partials/header', { user }) %>

<h3 class="text-center mt-4">Update your Password</h3>

<form class="text-center mt-4" action="/users/<%=user.id%>/?_method=PUT" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />

    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required/>

    <button class="btn btn-warning" type="submit">Update Password</button>
</form>

<%- include('../partials/footer') %>